
.unique2 form
{
    position:relative;

}
.unique2 form::before {
    content: "Order Review";
    position: absolute;
    top: 10px;
    left: 11px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}
.unique2 form .modal-body
{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.unique2 form .form-group:nth-child(2), .unique2 form .form-group:nth-child(3) {
    margin-top: 60px;
}
.unique2 form .modal-body .form-group
{
    flex: 0 0 45%;
}

.unique2 form .form-group:nth-child(1) {
    position: absolute;
    right: 22px;
    display: flex;
}
.unique2 form .form-group:nth-child(1) label
{

    flex: 0 0 50%;
       
        margin-top: 10px;
}
 .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
{
    background-color: #fff!important;
}
